<div id="div1">
    HUNDIR LA FLOTA
    <br></br>
  Bienvenido, <span data-bind="text: nombreDeUsuario"></span>
  <br></br>
  <span data-bind="text: estado"></span>
  <br></br>
  <button id= "buttonLogout"
            data-bind="click: logout, 
                       ojComponent: { component: 'ojButton', label: 'Logout' }">
  </button>
  <br></br>
</div>
<!-- Esto es un comentario 
<p>
<div id="casillas" 
     style="width:200%;max-width:275px;height:230px" 
     aria-label="Data Grid Cell Based Grid Demo"
     data-bind="ojComponent: {component: 'ojDataGrid', data: casillas}">
</div>
-->
 Leyenda:<br></br>
  B: Barco<br></br>
  D: Disparo<br></br>
  T: Tocado<br></br>
COLOQUE EL BARCO DONDE QUIERA
  <br></br>
<button id= "button1"
            data-bind="click: b1, 
                       ojComponent: { component: 'ojButton', label: '-' }">
  </button>
<button id= "button2"
            data-bind="click: b2, 
                       ojComponent: { component: 'ojButton', label: '-' }">
  </button>
  <button id= "button3"
            data-bind="click: b3, 
                       ojComponent: { component: 'ojButton', label: '-' }">
  </button>
  <br></br>
  <button id= "button4"
            data-bind="click: b4, 
                       ojComponent: { component: 'ojButton', label: '-' }">
  </button>
   <button id= "button5"
            data-bind="click: b5, 
                       ojComponent: { component: 'ojButton', label: '-' }">
  </button>
   <button id= "button6"
            data-bind="click: b6, 
                       ojComponent: { component: 'ojButton', label: '-' }">
  </button>
  <br></br>
   <button id= "button7"
            data-bind="click: b7, 
                       ojComponent: { component: 'ojButton', label: '-' }">
  </button>
   <button id= "button8"
            data-bind="click: b8, 
                       ojComponent: { component: 'ojButton', label: '-' }">
  </button>
   <button id= "button9"
            data-bind="click: b9, 
                       ojComponent: { component: 'ojButton', label: '-' }">
  </button>
  <br></br>
  <br></br>
  LOCALICE LOS BARCOS ENEMIGOS
  <br></br>
  <br></br>
  <button id= "button10"
            data-bind="click: b10, 
                       ojComponent: { component: 'ojButton', label: '-' }">
  </button>
<button id= "button11"
            data-bind="click: b11, 
                       ojComponent: { component: 'ojButton', label: '-' }">
  </button>
  <button id= "button12"
            data-bind="click: b12, 
                       ojComponent: { component: 'ojButton', label: '-' }">
  </button>
  <br></br>
  <button id= "button13"
            data-bind="click: b13, 
                       ojComponent: { component: 'ojButton', label: '-' }">
  </button>
   <button id= "button14"
            data-bind="click: b14, 
                       ojComponent: { component: 'ojButton', label: '-' }">
  </button>
   <button id= "button15"
            data-bind="click: b15, 
                       ojComponent: { component: 'ojButton', label: '-' }">
  </button>
  <br></br>
   <button id= "button16"
            data-bind="click: b16, 
                       ojComponent: { component: 'ojButton', label: '-' }">
  </button>
   <button id= "button17"
            data-bind="click: b17, 
                       ojComponent: { component: 'ojButton', label: '-' }">
  </button>
   <button id= "button18"
            data-bind="click: b18, 
                       ojComponent: { component: 'ojButton', label: '-' }">
   <br></br>
<br></br>
<button id= "buttonRanking"
            data-bind="click: bR, 
                       ojComponent: { component: 'ojButton', label: 'Ranking' }">
</button>






