<div id="div1">
		TRES EN RAYA
		<br></br>
  Bienvenido, <span data-bind="text: nombreDeUsuario"></span>
  <br></br>
  <span data-bind="text: estado"></span>
  <br></br>
  <button id= "buttonLogout"
            data-bind="click: logout, 
                       ojComponent: { component: 'ojButton', label: 'Logout' }">
  </button>
  <br></br>
</div>
<!-- Esto es un comentario 
<p>
<div id="casillas" 
     style="width:200%;max-width:275px;height:230px" 
     aria-label="Data Grid Cell Based Grid Demo"
     data-bind="ojComponent: {component: 'ojDataGrid', data: casillas}">
</div>
-->
<button id= "button1"
            data-bind="click: uno, 
                       ojComponent: { component: 'ojButton', label: '-' }">
  </button>
<button id= "button2"
            data-bind="click: dos, 
                       ojComponent: { component: 'ojButton', label: '-' }">
  </button>
  <button id= "button3"
            data-bind="click: tres, 
                       ojComponent: { component: 'ojButton', label: '-' }">
  </button>
  <br></br>
  <button id= "button4"
            data-bind="click: cuatro, 
                       ojComponent: { component: 'ojButton', label: '-' }">
  </button>
   <button id= "button5"
            data-bind="click: cinco, 
                       ojComponent: { component: 'ojButton', label: '-' }">
  </button>
   <button id= "button6"
            data-bind="click: seis, 
                       ojComponent: { component: 'ojButton', label: '-' }">
  </button>
  <br></br>
   <button id= "button7"
            data-bind="click: siete, 
                       ojComponent: { component: 'ojButton', label: '-' }">
  </button>
   <button id= "button8"
            data-bind="click: ocho, 
                       ojComponent: { component: 'ojButton', label: '-' }">
  </button>
   <button id= "button9"
            data-bind="click: nueve, 
                       ojComponent: { component: 'ojButton', label: '-' }">
  </button>
   <br></br>
<br></br>
<button id= "buttonRanking"
            data-bind="click: bR, 
                       ojComponent: { component: 'ojButton', label: 'Ranking' }">
                       </button>
